body, main{
    background-color: #16161a;
    color: #94a1b2;
}

header{
  background: url("../img/background-header - copia.jpg");
  width: 100%;
  background-size: cover;
  padding: 10px 0; 
}

button{
    background-color: #7f5af0;
    color: #fffffe;
}

p{
    color: #94a1b2;
}



/* ----------------NavBar---------------- */
/* Navbar  #1F3040*/
  .navbar-custom {
    background-color: transparent; /* Hace el fondo del nav transparente */
    z-index: 1; /* Background color */
  }
  .btn-primary {
    background-color:  #263e55 !important; 
}
  
  